@import "../variables/variables.scss";

.filters {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    background-color: #242424;
    box-shadow: 0 0 3px $dark;
    z-index: 1;

    &__input {
        background-color: $light;
        border-style: none;
        border-radius: 8px;
        padding: .5rem;
        margin-right: 1rem;
        color: $dark;
    }

    &__label {
        
        &:hover {
            cursor: pointer;
        }
    }

    &__checkbox {

        &:hover {
            cursor: pointer;
        }
    }

}