.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card {
  background-color: lightgreen;
  border-radius: 5px;
  text-align: center;
  text-shadow: 0 0 5px gray;
  font-size: 1.6rem;
  margin-top: 1rem;
  padding: 1rem;
  width: 200px;
  box-shadow: 0 0 5px gray;
  color: white;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: inherit;
  box-shadow: inherit;
}

.indexButtons {
  display: flex;
  justify-content: space-around;
}

.indexButtons button {
  width: 7rem;
  border: 1px solid white;
}